button {
    position: relative;
    top: 10px;
    right: 15px;
    background-color: inherit;
    border: none;
    font-size: 24px;
}

ul li {
    list-style: none;
}

.user-info-card-container {
    position: relative;
    top: 75px;
    padding: 60px;
    background-color: rgb(255, 220, 143);
    border-radius: 3px;
    opacity: .8;
    color: rgb(51, 47, 47);
    border: 1px solid white;
}